html, body, #map-canvas, #container, #game {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#game {
    position: relative;
    width: 100%;
}

#map-canvas {
    display: inline-block;
    width: 80%
}

.locations {
    margin-top: 50px;
}

.game-controls {
    display: inline-block;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 20%;
    z-index: 100;
}